<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.azarcorp.duitdroid">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="@targetSdkVersion>=29" /> <!-- Untuk SDK di bawah 29 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_splash_home"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_splash_home"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuitDroid"
        tools:targetApi="31">

        <!-- Metadata untuk Firebase -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_background" />

        <!-- Metadata untuk Google Sign-In -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.auth.api.signin.default_web_client_id"
            android:value="@string/default_web_client_id" />

        <!-- Splash Screen Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.DuitDroid.NoActionBar" />

        <!-- Sign Up Activity -->

        <!-- Forgot Password Activity -->

        <!-- About Activity -->
        <activity
            android:name=".About_Activity"
            android:exported="true"
            android:theme="@style/Theme.DuitDroid.NoActionBar" />

        <!-- Contact Us Activity -->
        <activity
            android:name=".ContactUs_Activity"
            android:exported="true"
            android:theme="@style/Theme.DuitDroid.NoActionBar" />

        <!-- Main Menu/Home Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DuitDroid">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- Profile Activity -->
        <activity
            android:name=".Profile_Activity"
            android:theme="@style/Theme.DuitDroid.NoActionBar" />

        <!-- Activity untuk tambah pengeluaran -->
        <activity
            android:name=".AddPengeluaran.AddPengeluaranActivity"
            android:theme="@style/Theme.DuitDroid.NoActionBar"
            android:exported="false"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- Activity untuk tambah pemasukan -->
        <activity
            android:name=".AddPemasukan.AddPemasukanActivity"
            android:theme="@style/Theme.DuitDroid.NoActionBar"
            android:exported="false"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

    </application>
</manifest>
